.all-page {
    width: 1366px;
    margin: auto;
    background-image: url("../img/background-img.png");
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
}

.page-content {
    width: 1056px;
    margin: auto;
    padding-top: 49px;
    font-weight: bold;
}

.header-styles {
    color: white;
}

.logo {
    float: left;
}

.logo-image {
    display: inline-block;
    width: 46px;
    height: 43px;
    background: url("../img/logo.png");
    float: left;
    margin-right: 15px;
}

.logo-text {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.logo-text-holiday {
    font-size: 13px;
    padding-top: 9px;
    display: inline-block;
}

.logo:hover .logo-image {
    background: url("../img/logo-orange.png");
}

.logo:hover .logo-text {
    color: #F26522;
}

.contacts {
    float: right;
    font-size: 18px;
    font-weight: normal;
}

.contacts-phone {
    font-size: 14px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 24px;
    float: right;

}

.clearfix {
    display: block;
    clear: both;
}

.menu {
    margin-bottom: 31px;
}

.menu-block {
    width: 313px;
    float: left;
    text-align: center;
    position: relative;
    font-weight: normal;
    margin-bottom: 29px;
    box-sizing: border-box;
    display: inline-block;
}

.block-middle-top {
    margin-left: 58.5px;
    margin-right: 58.5px;
}

.block-middle-bottom {
    margin-left: 58.5px;
    margin-right: 58.5px;
}

.menu-text {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 11px;
}

.menu-image {
    border: 2px solid;
    border-image-source: linear-gradient(180deg, white, transparent);
    border-image-slice: 1;
}

.orange-block {
    background-color: #F26522;
    color: white;
    position: absolute;
    bottom: 41px;
    width: 100%;
    height: 0;
}

.menu-block:hover .orange-block {
    height: auto;
}

.price-from {
    float: left;
    text-align: left;
    padding-left: 21px;
    padding-top: 15px;
    padding-bottom: 16px;
}


.details {
    float: right;
    padding-top: 29px;
    font-size: 0;
}

.menu-block:hover .details {
    font-size: 100%;
}

.menu-block:hover .price {
    font-size: 15px;
}

.menu-block:hover .from {
    font-size: 8px;
}

.from {
    font-size: 0;
}

.price {
    font-size: 0;
}

.details::after {
    content: '>';
    padding-right: 14px;
    padding-left: 30px;
}

.menu-block:hover .menu-text {
    padding-top: 11px;
    color: #F26522;
}


.copyright {
    text-align: center;
    color: white;
    font-weight: normal;
    padding-bottom: 20px;
}